*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    height:100vh;
    font-family:"Pretendard", sans-serif;
}

.final-card{
    width:580px;
    height:760px;
    position:relative;
    border-radius:30px;
    overflow:hidden;
    background-image:url("../img/final.png");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    margin: 40px auto 0;
}


.final-card h1{

    position:absolute;

    top:55px;

    width:100%;

    text-align:center;

    color:#FFD24A;

    font-size:44px;

    font-weight:900;

    text-shadow:0 2px 10px rgba(0,0,0,.5);

}


.final-card p{

    position:absolute;

    top:120px;

    width:100%;

    text-align:center;

    color:white;

    font-size:22px;

    font-weight:600;

    text-shadow:0 2px 10px rgba(0,0,0,.7);

}


.main-btn{

    position:absolute;

    left:50%;
    bottom:35px;

    transform:translateX(-50%);

    width:280px;
    height:72px;

    border:3px solid #D188F8;
    border-radius:52px;

    background:linear-gradient(to bottom,#743BD1,#422091);

    color:white;

    font-size:26px;

    font-weight:700;

    cursor:pointer;

    transition:.2s;
}

.main-btn:hover{

    filter:brightness(1.08);

}